@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.7em;
}

a {
  text-decoration: none;
}

#navbar {
  overflow: auto;
}
.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(/images/background.jpg);
   background-size: cover;
  background-position: center;
  color: WHITE;
  font-family: "Krona One", sans-serif;
  height: 100vh;
  width: 100vw;
  cursor: default;
}

#navbar h1 {
  float: none;
  font-family: Montserrat Alternates, sans-serif;
  padding-top: 15px;
  padding-left: 0px;
  margin-right: 40px;
  margin-left: 40px;
  text-align: center;
  font-size: 36px;
  border-bottom: rgba(63, 61, 61, 0.541) 1px solid;
}

#navbar h1 a {
  padding-right: 10px;
  padding-left: 10px;
  border-right: solid red 3px;
  border-left: solid red 3px;
  border-radius: 4px;
}

#navbar ul {
  float: none;
  list-style: none;
  font-family: Nunito, sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: none;
  transition: all 0.2s ease-in;
  
}

#navbar ul:last-child{
    margin-bottom: 20px;
}

#navbar ul li {
  float: none;
  text-align: center;
  padding: 15px;
  line-height: 0.5em;
  margin-left: 100px;
  margin-right: 100px;

  transition: all 0.3s ease-in;
}
#navbar ul li:hover,
#navbar ul li a:hover {
  border-radius: 23px;
  background-color: rgba(65, 60, 60, 0.274);
  color: coral;
}

#navbar ul:hover {
  border-bottom: none;
}

#navbar ul .active {
  color: coral;
  border-radius: 10px;
  background-color: #333;
}

.short_info{
    padding: 20px;    
    
}
B{
font-size: 35px;
padding-left: 30px;
}
p{
    
    font-size: 16px;
}

/* backend 
    node.js
    python
    php



database
    
    MY SQL
    POST  GRE-SQL

cloud base database

    MONGO DB
    AWH
    firebase */
