@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        line-height:1.7em;
}

.background {
        
        background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)) , url(images/background.jpg) ;
        
        background-size: cover;
        background-position: center;
        color: WHITE;
       
     
       
        font-family: 'Krona One', sans-serif;
        height: 100vh;
       
        cursor:default;
        
        
      
        

}
a{
        text-decoration: none;
}


#navbar{
        
        overflow:auto; 
        
       
        
}
 

#navbar h1{
        float: left;
        font-family: Montserrat Alternates, sans-serif; 
        padding-top:  15px;      
        padding-left: 40px;
        font-size: 36px;
       
}
#navbar h1 a{
        
        padding-right:10px ;
         border-right:solid red 3px;
}

#navbar ul {
        float: right;
        list-style: none;
        font-family: Nunito , sans-serif;
        font-weight: 500;
       font-size: 18px;
         border-bottom: rgba(247, 26, 26, 0.74) double 5px;
         transition: all 0.2s ease-in;

}
#navbar ul li{
       float: left;
       padding: 30px;
       
       
        transition: all 0.3s ease-in;
     
}
#navbar ul li:hover ,
#navbar ul li a:hover {
        border-radius: 23px;
        background-color: rgba(65, 60, 60, 0.274);
        color: coral;      
}

#navbar ul:hover{
        border-bottom: rgb(243, 13, 13) 10px double;

}


#navbar ul .active{
        color: coral;
        border-radius: 10px;
        background-color: #333;
        

}



#navbar a {
        
        color: white;
        
  
}


.box {
        height: 100px;
        width: 760px;
        
}

.about{
        font-size: 20px;
}



#about{
        background-color: rgba(224, 218, 218, 0.726);
        height: 560px;
        border-top:  rgb(238, 236, 115) 30px solid;
        border-bottom: rgb(127, 248, 97) 30px solid;
}
.image{
        
        height:500px ;
        width:450px;
        float: left;
}

        

        

.content{
        
        float: right;
        width: 50%;
       margin: 50px 40px;
       padding-left: 70px;
       border-left: #333 3px double;
       
       
        
}
.short_info{
        
        position: relative;
        padding-top: 130px;
        padding-left: 380px;
}
B{
font-size: 70px;
}
p{
        
        font-size: 20px;
}

#about h1{
        
        
        
        display: inline-block;
        width: 300px;
        border-right:rgb(239, 86, 86) 6px solid;
        background-color: rgb(41, 39, 39);
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        padding-left: 5px;
        transition: all 0.1s  ease-out   ;
       
}

#about h1:hover{
        text-decoration: underline 3px solid steelblue;
}





